:root {
  --color-ocean: oklch(0.45 0.072 233.9); /* #255c75 */
  --color-sky: oklch(0.55 0.072 233.9); /* #447995 */
  --color-navy: oklch(0.42 0.065 240); /* #29526d */

  /* currently unused */
  --color-accent-navy: oklch(0.42 0.065 240); /* #29526d */

  --font-display: var(--font-Fraunces);
  --font-body: var(--font-DMSans);

  --text-line-height-flat: 1;
  --text-line-height-fine: 1.2;
  --text-line-height-standard: 1.4;
  --text-line-height-loose: 1.7;

  --space-xs: clamp(0.4375rem, 0.41rem + 0.11vw, 0.5rem);
  --space-s: clamp(0.875rem, 0.83rem + 0.22vw, 1rem);
  --space-m: clamp(1.3125rem, 1.24rem + 0.33vw, 1.5rem);
  --space-l: clamp(2.1875rem, 2.07rem + 0.56vw, 2.5rem);
  --space-xl: clamp(3.0625rem, 2.9rem + 0.78vw, 3.5rem);
  --space-2xl: clamp(3.5rem, 3.32rem + 0.89vw, 4rem);
  --space-3xl: clamp(4.375rem, 4.15rem + 1.11vw, 5rem);
  --space-4xl: clamp(6.5625rem, 6.22rem + 1.67vw, 7.5rem);
  --space-5xl: clamp(8.75rem, 8.29rem + 2.22vw, 10rem);

  --text-size-step-000: clamp(0.740625rem, 0.73rem + 0.07vw, 0.78125rem);
  --text-size-step-00: clamp(0.833125rem, 0.79rem + 0.19vw, 0.9375rem);
  --text-size-step-0: clamp(0.9375rem, 0.87rem + 0.33vw, 1.125rem);
  --text-size-step-1: clamp(1.055rem, 0.95rem + 0.52vw, 1.35rem);
  --text-size-step-2: clamp(1.18625rem, 1.03rem + 0.77vw, 1.62rem);
  --text-size-step-3: clamp(1.335rem, 1.11rem + 1.08vw, 1.94375rem);
  --text-size-step-4: clamp(1.501875rem, 1.2rem + 1.48vw, 2.3325rem);
  --text-size-step-5: clamp(1.689375rem, 1.28rem + 1.97vw, 2.799375rem);
  --text-size-step-6: clamp(1.900625rem, 1.37rem + 2.59vw, 3.359375rem);
  --text-size-step-7: clamp(2.138125rem, 1.44rem + 3.37vw, 4.03125rem);
  --text-size-step-8: clamp(2.405625rem, 1.51rem + 4.32vw, 4.8375rem);
  --text-size-step-9: clamp(2.70625rem, 1.57rem + 5.51vw, 5.805rem);
  --text-size-step-10: clamp(3.044375rem, 1.61rem + 6.97vw, 6.965625rem);

  --radius-s: 0.2rem;
  --radius-m: 0.75rem;
  --radius-l: 1rem;
  --radius-xl: 2.5rem;
}
